﻿@{
    ViewBag.Title = "Free Slots";
}
<div ng-app="scheduleApp">
    <div ng-controller="scheduleController">

        <br /><br />
        <button style="float: left;" ng-click="callLastWeek()">Last Week</button>
        <button style="float: right;" ng-click="callNextWeek()">Next Week</button>

        <table id="availabilityTable">
            <thead>
                <tr>
                    <th ng-repeat="date in scheduleAvailability.Dates">{{date | date : 'EEEE d'}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="availability in scheduleAvailability.WeekTimeFrames track by $index">
                    <td ng-repeat="slot in availability.Slots track by $index">
                        <a href="/Appointment/Edit/{{slot._Id}}">
                            <div style="height:100%;width:100%">
                                {{slot.Start}}
                            </div>
                        </a>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

