﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#availabilityTable {
    width: 100%;
}

    #availabilityTable td, th {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: left;
    }

    #availabilityTable th {
        font-size: 1.6em;
        padding-right: 15px;
        background-color: #149c82;
        color: #fff;
        margin-right: 20px;
    }

    #availabilityTable td {
        padding-right: 85px;
    }

    #availabilityTable tr:nth-child(odd) {
        background-color: #ffffff;
    }

    #availabilityTable tr:nth-child(even) {
        background-color:  #e3f8a6;
        
    }

    #availabilityTable caption {
        font-size: 1.6em;
        text-align: center;
        color: gray;
    }
