﻿@{
    ViewBag.Title = "Edit";
}

<div ng-app="appointmentApp">

    <div ng-controller="appointmentController" ng-init="init('@ViewBag.AppointmentId')">
        <h2 ng-init="someVariable = sebas">Edit Section</h2>

        <h2>@ViewBag.AppointmentId</h2>
    </div>



</div>




